* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 1em;
    background-color: #87f783;
    font-weight: bold;
}

#main-title {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.score-text {
    font-size: 1.5em;
}

.consecutive-score-text {
    margin-left: 1em;
    display: none;
}

#memory-container {
    width: 60vw;
    background-color: #57b6f5;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tile {
    border: 2px solid black;
}

.tile.verso {
    background: url(../images/tile_verso.jpg) 0% 0% / cover;
}