* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 2em;
    background-color: #87f783;
}

#main-title {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
}

#memory-container {
    width: 60vw;
    background-color: #57b6f5;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tile {
    background-color: #d3f557;
    border: 2px solid black;
}